/******************************  VARIABLES  ******************************/
:root {
    --primaryColor: #e9e9e9;
    --secondaryColor: rgb(221, 221, 221);
    --tertiaryColor: rgb(208, 208, 208);
    --quaternaryColor: #212121;
    --quinaryColor: rgb(255, 255, 255);
    --sixtharyColor: rgb(9, 9, 9);
    --borderRadius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
}

body {
    background-color: var(--primaryColor);

}

h2 {
    border-top: #212121 solid 5px;
    border-left: black solid 5px;
    padding: 2%;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 5%;
}

/******************************  HEADER  ******************************/
header {
    background-color: var(--secondaryColor);
    width: 100%;
    padding: 2% 2%;
    border-bottom: 2.5px var(--tertiaryColor) solid;
    box-shadow: 5px 5px 15px var(--quinaryColor);
}

body header :nth-child(2) {
    position: absolute;
    right: 2%;
}

/******* HEADER SCROLLING TEXT *******/

.scrollingText {
    overflow: hidden;
}

header>div>p {
    padding-left: 2em;
    width: 182%;
    animation-name: defilement-rtl;
    /* référence à la règle @keyframes mise en oeuvre */
    animation-duration: 25s;
    /* valeur à ajuster suivant la longueur du message */
    animation-iteration-count: infinite;
    /* boucle continue */
    animation-timing-function: linear;
    font-size: 40px;
    white-space: nowrap;
    color: var(--quaternaryColor);
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(100%, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}


/******************************  MAIN  ******************************/
/******* Name & job *******/

.namePresentation {
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: normal;
}


.futurJob {
    font-size: 4rem;
    font-weight: normal;
}


/******* Who i am ? *******/

.presenetationMySelf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.presenetationMySelf>div {
    background-color: var(--quaternaryColor);
    border-radius: var(--borderRadius);
    width: 90%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.cardContainer {
    background-color: var(--tertiaryColor);
    border-radius: var(--borderRadius);
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: rgb(226, 205, 205, 0.55) 0px 5px 20px;
}

.card {
    background-color: var(--quinaryColor);
    width: 90%;
    height: 90%;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 15px 45px;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    border-radius: var(--borderRadius);
}

.card:hover {
    transform: rotateY(180deg);
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}


/**** SIDEFRONT ****/
.sideFront {
    padding: 5%;
}

.sideFront h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 2.5vw;
    margin-bottom: 2.5rem;
}

.sideFront p {
    text-align: justify;
    font-size: clamp(1.1rem, 2vw, 2rem);
}

.sideFront>button {
    display: none;
}



/**** SIDEBACK ****/

.sideBack {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBack p {
    height: 100%;
    text-align: justify;
    padding: 5%;
    font-size: clamp(1rem, 2vw, 2rem);
}

.sideBack img {
    height: 32%;
    margin: 4%;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.sideBack > button {
    display: none;
}


/******* Skills in progress *******/

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
}

.js,
.css,
.symfony,
.html,
.php,
.wordpress,
.mysql,
.github,
.vueJs,
.figma {
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 3%;
}

.figma {
    background-image: url(pictures/FIGMA.png);
}

.github {
    background-image: url(pictures/github1.png);
}

.vueJs {
    background-image: url(pictures/VUE.JS);
}

.js {
    background-image: url(pictures/Group\ 18.png);
}

.css {
    background-image: url(pictures/css.png);
}

.symfony {
    background-image: url(pictures/symfony.png);
}

.html {
    background-image: url(pictures/html.png);
}


.php {
    background-image: url(pictures/php.png);
}

.wordpress {
    background-image: url(pictures/wordpress.png);
}

.mysql {
    background-image: url(pictures/mysql.png);
}



/******* Professional Career *******/
.professionalCareer {
    margin: 2rem;
    margin-bottom: 5%;
}

.mapExplicationContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: auto;
}

.frenchMap {
    background-color: none;
    border: none;
    fill: none;
    stroke: var(--quaternaryColor);
    stroke-width: 5px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 50rem;
}

.presentationExperience {
    background-color: var(--secondaryColor);
    border: solid var(--quaternaryColor) 2px;
    border-radius: var(--borderRadius);
    width: 600px;
    height: auto;
    right: 200px;
    bottom: 1rem;
    padding: 0.8rem;
}

image {
    pointer-events: none;
}

.fiche {
    background-color: var(--secondaryColor);
    border: solid var(--quaternaryColor) 2px;
    border-radius: var(--borderRadius);
    width: 35rem;
    position: absolute;
    padding: 2.8rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 25px;
}

.fiche>h3 {
    font-size: 1.5rem;
    justify-self: center;
}

.fiche>h4 {
    text-decoration: underline;
    font-size: 1.3rem;
}

.fiche>h5 {
    font-size: 1.2rem;
}

.fiche>h6 {
    font-size: 1rem;
}

.fiche>p {
    text-align: justify;
}

.explication {
    font-size: clamp(1.1rem, 2vw, 2rem);
    text-align: justify;
}

.divRodez>svg {
    background-color: none;
    width: 6em;
    position: absolute;
    top: 0rem;
    left: 0rem;
}


.divToulouse>svg {
    background-color: none;
    width: 6em;
    position: absolute;
    top: 0rem;
    left: 0rem
}

.divSaintQuentin>svg {
    background-color: none;
    width: 6em;
    position: absolute;
    top: 0rem;
    left: 0rem
}

.divLyon>svg {
    background-color: none;
    width: 6em;
    position: absolute;
    top: 0rem;
    left: 0rem
}


/********* contact *********/
/* Presantation Général */

.contact>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 55em;
    background-color: var(--secondaryColor);
    margin: 5%;
    border-radius: var(--borderRadius);
    padding: 2rem;
    border: solid var(--quaternaryColor) 45px;
}

form>p {
    padding-bottom: 1.8rem;
    margin: 1.8rem 0;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px var(--sixtharyColor) groove;
}


/* Oragnisation des inputs */

.indentificationContact,
.coordonnees {
    display: flex;
    justify-content: space-between;
}

.names,
.entreprise,
.contactPersonTel,
.contactPersonEmail {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    width: 40%;
}

/* Input */
input {
    width: 100%;
    height: 2.7rem;
    margin-top: 0.8rem;
    border-radius: 5px;
}

/* Message */
.message {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    font-size: 1.3rem;
}

.messageForm {
    height: 5rem;
    margin-top: 1.2rem;
    border-radius: 5px;
}


/* button style */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

button {
    background-color: var(--quaternaryColor);
    color: var(--quinaryColor);
    border-radius: 10px;
    padding: 2% 5%;
    cursor: pointer;
    font-size: 1.5rem;
}


/******* FOOTER *******/
footer {
    background-color: rgba(9, 9, 9, 0.693);
    ;
    color: var(--quinaryColor);
    font-size: 2.3rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: black 2px solid;
}

/* Partie icones */
footer :first-child {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.icon {
    width: 100px;
    height: 100px;
    /* background-color: #FFF083; */
    margin: 1rem;
    border: none;
    border-radius: var(--borderRadius);
}

/* Partie retour en haut de page */
.topPage {
    background-color: black;
    padding: 2rem;
    border-radius: var(--borderRadius);
    width: 25%;
    text-align: center;
}

.topPage>a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

/* Partie bouton */

.on,
.off {
    background-color: black;
    color: rgb(77, 77, 77);
    margin: 1.2rem;
    padding: 1em 2em;
}



/***************************** RESPONSIVE ***************************/

/*** MOBILE PHONE ***/

@media (max-width: 517px) {

    h1 {
        font-size: 2.1rem;
    }

    .futurJob {
        font-size: 1.5rem;
    }

    .mapExplicationContainer {
        justify-content: center;
    }

/******* Who i am ? *******/

.presenetationMySelf>div {
    width: 90%;
    margin-bottom: 1.3rem;
    height: 90vh;
}

.sideFront>h3 {
    font-size: 1.5rem;
}

.cardContainer {
    height: 95%;
    display: flex;
    flex-direction: column;
}

.card {
     height: 95%;
}

.sideBack {
    display: flex;
    flex-direction: column;
}

.sideBack p {
    font-size: 0.88rem;
}

.sideBack img {
    height: 10%;
    margin: 4%;
    border-radius: 50px;
}


/*** Button ***/

.sideBack>button {
    display: flex;
}

.sideFront>button {
    display: flex;
}

.btnPresentation {
    width: 40%;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

.sideFront > button {
    left : 30%
}


/******* Hard Skills*******/
.js,
.css,
.symfony,
.html,
.php,
.wordpress,
.mysql,
.github,
.vueJs,
.figma {
    width: 100px;
    height: 100px;
    margin: 3%;
}


    /** PRO CAREER **/
    .fiche {
        width: 95%;
        padding-top: 20%;
    }

    .explication {
        margin: 5px;
    }

    .frenchMap {
        height: 50%;
    }

    /** FOOTER **/

    form {
        width: 90%;
        height: auto;
        border: 10px var(--quaternaryColor) solid;
    }

    .indentificationContact,
    .coordonnees {
        display: flex;
        flex-direction: column;
    }

    .names,
    .entreprise,
    .contactPersonEmail,
    .contactPersonTel {
        width: 100%;
    }

    .purpleLight {
        display: none;
    }

    .topPage {
        font-size: 1.2rem;
        width: 30%;
        padding: 0.5rem;
    }
}






/*** TABLET ***/
@media (min-width: 518px) and (max-width: 768px) {
    
    h1 {
        font-size: 4rem;
    }

    .futurJob {
        font-size: 2rem;
    }


    /******* Who i am ? *******/

    .sideFront>h3 {
        font-size: 1.5rem;
    }

    .presenetationMySelf>div {
        width: 90%;
        margin-bottom: 1.3rem;
        height: 90vh;
    }

    .cardContainer {
        height: 95%;
    }

    .sideBack, .sideFront {
        flex-direction: column;
    }

    .sideBack>img {
        height: 20%;
    }


    /*** Button ***/
    .sideBack>button {
        display: flex;
    }

    .sideFront>button {
        display: flex;
    }

    .btnPresentation {
        width: 30%;
        display: flex;
        justify-self: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

    .sideFront > button {
        left : 35%
    }


    /** PRO CAREER **/

    .professionalCareer {
        margin: 2rem;
    }

    .mapExplicationContainer {
        flex-direction: column-reverse;
    }

    .frenchMap {
        height: 30em;
        margin-top: 2rem;
    }

    .fiche {
        width: 30rem;
    }


    /** CONTACT **/

    form {
        width: 90%;
        height: 80%;
        border: 15px var(--quaternaryColor) solid;
    }

    .indentificationContact,
    .coordonnees {
        display: flex;
        flex-direction: column;
    }

    .names,
    .entreprise,
    .contactPersonEmail,
    .contactPersonTel {
        width: 100%;
    }


    /** FOOTER **/

    .purpleLight {
        display: none;
    }

    .topPage {
        width: 50%;
    }
}